@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap");
.work {
  background: url("/src/images/background-2.jpg") no-repeat center/cover;
}

.box-title {
  margin-top: 0.5rem;
  font-size: 1.125rem;
}

.box-paragraph {
  font-size: 0.875rem;
  font-weight: 300;
}

.link-container {
  margin-top: 4rem;
}

.link-container .btn {
  text-transform: uppercase;
  color: #f95959;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem 1rem 0;
  overflow: hidden;
  cursor: pointer;
}

.link-container .btn:focus {
  outline: none;
}

.link-container .btn--primary {
  color: #f95959;
}

.link-container .btn--border {
  border-radius: 3.125rem;
}

.link-container .btn--animated {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.link-container .btn--animated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f95959;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: -1;
}

.link-container .btn--animated:hover {
  color: #fff;
  padding-left: 1.5rem;
}

.link-container .btn--animated:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
          transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}

.link-container .fa-arrow-right {
  margin-left: 1rem;
}

.second-section-page {
  padding: 3.5rem 5rem;
  color: #fff;
}

.second-section-page .line-up {
  width: 100%;
  height: 0.2rem;
  background: #fff;
}

.second-section-page .line-title {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.8rem;
}

.second-section-page .portfolio-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  margin-top: 4rem;
}

.second-section-page .box-portfolio-container {
  position: relative;
  max-width: 350px;
  width: 100%;
  height: 480px;
  border-radius: 0.8rem;
  background: #19112e;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  overflow: hidden;
}

.second-section-page .box-portfolio-container:hover {
  background: #1d1436;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.second-section-page .company-task {
  padding: 2rem 1.5rem 0;
}

.second-section-page .company-task h5 {
  color: #efe9e9;
  font-size: 0.8rem;
  font-weight: normal;
}

.second-section-page .company-task h2 {
  font-family: "Quantico", sans-serif;
  color: #fff;
  margin: 0.75rem 0;
}

.second-section-page .company-task p {
  color: #efe9e9;
  line-height: 1.7;
}

.second-section-page .company-task .head {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.second-section-page .company-task .btn-container-card {
  margin-top: 2.5rem;
}

.second-section-page .company-task .btn-container-card .link-btn-card {
  background: #f95959;
  padding: 0.7rem 1.5rem;
  border-radius: 3.125rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
}

.second-section-page .mockup {
  border-radius: 0.8rem 0.8rem 0 0;
  max-width: 350px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-portfolio-container:hover .head {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 680px) {
  .second-section-page {
    padding: 2rem 1rem;
  }
  .second-section-page .portfolio-boxes-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3rem;
  }
  .second-section-page .portfolio-boxes-container .head {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .second-section-page .portfolio-boxes-container .box-portfolio-container {
    margin: 1rem 0rem;
  }
}

@media screen and (max-width: 768px) {
  .second-section-page {
    padding: 3.5rem 1rem;
  }
  .second-section-page .portfolio-boxes-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .second-section-page .portfolio-boxes-container .box-portfolio-container:nth-child(2) {
    margin-left: 0.3rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .second-section-page {
    padding: 3.5rem 3rem;
  }
  .second-section-page .portfolio-boxes-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .second-section-page .portfolio-boxes-container .box-portfolio-container:nth-child(2) {
    margin: 0 1rem;
  }
}

.about {
  background: url("/src/images/background-3.jpg") no-repeat center/cover;
}

.personal-image {
  border-radius: 1.25rem;
  max-width: 450px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-social-media {
  margin-top: 2rem;
  color: #f95959;
  cursor: pointer;
}

.contact-social-media i {
  font-size: 1.6rem;
}

.contact-social-media i:hover {
  color: #169dff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contact-social-media i:nth-child(2) {
  margin: 0 1.2rem;
}

.section-anchor-container {
  position: relative;
  max-width: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
  margin-left: 9rem;
  z-index: 3;
}

.section-anchor-container .section-anchor {
  color: #fff;
  cursor: pointer;
  overflow: hidden;
}

.section-anchor-container .section-anchor .line {
  position: relative;
  width: 9.375rem;
  height: 2px;
  background: #fff;
  margin-bottom: 1rem;
}

.section-anchor-container .section-anchor .line::after {
  content: "";
  position: absolute;
  width: 9.375rem;
  border-bottom: 3px solid #f95959;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.section-anchor-container .section-anchor .number,
.section-anchor-container .section-anchor h4 {
  font-size: 0.85rem;
  font-weight: normal;
  margin: 0.6rem 0;
}

.section-anchor:hover .line::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.illustration-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6rem 4rem;
}

.illustration-container .illustration-section-text {
  max-width: 500px;
}

.illustration-container .illustration-section-text h3 {
  font-size: 2.7rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.illustration-container .illustration-section-text p {
  font-size: 1.1rem;
  color: #efe9e9;
  font-weight: 300;
  line-height: 1.6;
}

.light-line {
  width: 100%;
  height: 1px;
  background: #efe9e9;
}

.illustration-image {
  max-width: 300px;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .section-anchor-container {
    display: none;
  }
  .personal-image {
    margin-top: 3rem;
  }
  .test {
    padding: 0;
    margin: 0;
  }
  .illustration-container {
    padding: 4rem 1rem;
  }
  .illustration-container .illustration-section-text h3 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .illustration-container .illustration-section-text p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section-anchor-container {
    margin-left: 4rem;
  }
  .personal-image {
    margin-top: 3rem;
  }
  .illustration-container {
    padding: 6rem 2rem 2rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .illustration-container .illustration-section-text {
    margin-left: 2rem;
    width: 100%;
  }
  .illustration-container .illustration-section-text h3 {
    font-size: 2.5rem;
  }
}

.entertainment {
  background: url("/src/images/entertainment.jpg") no-repeat center/cover;
  padding: 8rem 4rem;
  position: relative;
  margin: 4rem 0;
}

.entertainment::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.entertainment .element-progressbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}

.entertainment .element-progressbar-container .title-entertainment {
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  color: #fff;
}

.entertainment .element-progressbar-container .paragraph-entertainment-container {
  max-width: 500px;
}

.entertainment .element-progressbar-container p {
  color: #efe9e9;
  font-weight: 400;
  font-size: 0.95rem;
  line-height: 1.6;
}

@media screen and (max-width: 680px) {
  .entertainment {
    padding: 5rem 1rem;
  }
  .entertainment .title-entertainment {
    margin-bottom: 2rem;
  }
  .entertainment .paragraph-entertainment-container {
    margin-top: 2rem;
  }
  .entertainment .fullstacks {
    position: relative;
    margin: auto;
  }
}

@media screen and (min-width: 680px) and (max-width: 768px) {
  .entertainment .element-progressbar-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .entertainment .element-progressbar-container .title-entertainment {
    font-size: 1.4rem;
    margin-right: 2rem;
  }
  .entertainment .element-progressbar-container .paragraph-entertainment-container {
    width: 100%;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .entertainment .element-progressbar-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .entertainment .element-progressbar-container .title-entertainment {
    margin-right: 1rem;
  }
  .entertainment .paragraph-entertainment-container {
    width: 50%;
    margin-left: 2rem;
  }
}

.progress-container {
  width: 140px;
  height: 140px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progressbar {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.progressbar__track {
  fill: transparent;
  stroke: #f95959;
  opacity: 0.5;
  stroke-width: 3px;
}

.progressbar__thumb {
  fill: transparent;
  stroke-width: 3px;
  stroke-dasharray: 0 calc(30 * 2 * 3.141593);
  stroke-linecap: round;
  -webkit-animation-name: progress;
          animation-name: progress;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.3, 1, 0.3, 1);
          animation-timing-function: cubic-bezier(0.3, 1, 0.3, 1);
  -webkit-transform: rotate(-89deg);
          transform: rotate(-89deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.progressbar__thumb--track-1 {
  stroke: #ff1616;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}

.progressbar__thumb--track-2 {
  stroke: #f95959;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.progressbar__thumb--track-3 {
  stroke: #f95959;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.progress-content {
  text-align: center;
}

.progress__value {
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  position: relative;
  display: inline-block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: pulse 400ms 1.6s forwards;
          animation: pulse 400ms 1.6s forwards;
}

.progress__value::before {
  content: "%";
  font-size: 0.4em;
  position: absolute;
  top: 18px;
  right: -12px;
}

.progress__text {
  font-size: 0.7rem;
  color: #fff;
  max-height: 0;
  overflow-y: hidden;
  -webkit-animation: flyin 500ms 1.9s forwards;
          animation: flyin 500ms 1.9s forwards;
}

@-webkit-keyframes progress {
  to {
    stroke-dasharray: 110;
  }
}

@keyframes progress {
  to {
    stroke-dasharray: 110;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  60% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes flyin {
  from {
    max-height: 0;
  }
  to {
    max-height: 20px;
    opacity: 1;
  }
}

@keyframes flyin {
  from {
    max-height: 0;
  }
  to {
    max-height: 20px;
    opacity: 1;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2rem;
  position: absolute;
  width: 100%;
  z-index: 9;
  max-width: 1300px;
}

header .menu_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu_nav__item {
  list-style: none;
  margin: 0 2rem;
}

header .menu_nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

header .social-media {
  cursor: pointer;
}

header .social-media .social-media-icon {
  margin: 0 0.6rem;
  font-size: 1.2rem;
  color: #f95959;
}

header .social-media .social-media-icon:hover {
  color: #169dff;
  text-shadow: 0 0 15px #169dff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.sidebar {
  background: #19112e;
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0.98;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.sidebar__links_test {
  list-style: none;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar__links_test.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sidebar__links li:nth-child(2) {
  padding: 3rem 0;
}

.sidebar__links li a {
  display: inline-block;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar.open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.sidebar .social-media-sidebar {
  margin-top: 5rem;
}

.sidebar .social-media-sidebar i {
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #fff;
}

.sidebar__links_test:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.sidebar__links_test:nth-child(2) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.sidebar__links_test:nth-child(3) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.sidebar__links_test:nth-child(4) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

.menu-btn {
  position: fixed;
  z-index: 2;
  right: 1.5rem;
  top: 2rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  height: 3px;
  width: 20px;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
          transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.home {
  background: url("/src/images/background-1.jpg") no-repeat center/cover;
}

.title-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin-top: 50vh;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  z-index: 2;
}

.title-grid div {
  color: #fff;
}

.title-grid h5 {
  font-size: 1.875rem;
  font-weight: 400;
}

.title-grid .main-title {
  font-size: 3.5rem;
}

.title-grid .small-subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0.2rem;
  margin-left: 1rem;
  position: absolute;
}

.title-grid .main-subtitle-container {
  display: -ms-grid;
  display: grid;
  max-width: 450px;
}

.title-grid .main-subtitle-container p {
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 300;
}

.title-grid .main-subtitle-container p .red {
  color: #ff1616;
}

.title-grid .main-subtitle-container p .green {
  color: #8ebf03;
}

@media screen and (min-width: 680px) and (max-width: 768px) {
  .title-grid {
    padding: 0 2rem;
  }
  .title-grid .main-title {
    font-size: 2.8rem;
  }
  .title-grid .small-subtitle,
  .title-grid h5 {
    font-size: 1.4rem;
  }
  .title-grid .main-subtitle-container {
    margin-left: 5rem;
  }
  .title-grid .main-subtitle-container p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .main-subtitle-container {
    margin-left: 3rem;
  }
}

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3.5rem 5rem;
  color: #fff;
}

.first-section .information-container {
  max-width: 40rem;
}

.first-section .information-container .upper-line {
  width: 100%;
  height: 0.2rem;
  background: #fff;
}

.first-section .information-container .under-line-title {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.8rem;
}

.first-section .information-container .title-section {
  font-family: "Quantico", sans-serif;
  font-weight: 600;
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 2.2rem;
}

.first-section .information-container p {
  color: #efe9e9;
  line-height: 1.7;
  font-size: 1.1rem;
}

.first-section .information-container .experience-client-container {
  margin-top: 3.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.first-section .information-container .experience-client-container h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-section .information-container .experience-client-container .text {
  margin-top: 1.8rem;
  margin-left: 0.5rem;
  font-size: 0.7rem;
  font-weight: 400;
}

.first-section .information-container .experience-client-container .number-clr {
  color: #f95959;
  font-size: 3.5rem;
}

.first-box,
.second-box {
  padding: 1rem;
  position: relative;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.first-box:hover,
.second-box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.first-box .icon-box,
.second-box .icon-box {
  font-size: 2rem;
  margin-right: 1rem;
}

.first-box p,
.second-box p {
  color: #efe9e9;
  margin-top: 1rem;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.first-box {
  padding: 1.5rem;
  background: #f95959;
  max-width: 25rem;
  width: 100%;
  height: 15rem;
  border-radius: 1.25rem;
  margin-bottom: 2rem;
}

.second-box {
  padding: 1.5rem;
  background: #19112e;
  max-width: 25rem;
  width: 100%;
  height: 15rem;
  border-radius: 1.25rem;
}

.flex-container {
  width: 25rem;
}

@media screen and (max-width: 768px) {
  .first-section {
    padding: 3.5rem 2rem;
  }
  .flex-container {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .flex-container .first-box {
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .first-section {
    padding: 3.5rem 3rem;
  }
  .first-section .information-container {
    width: 50%;
  }
}

@media screen and (max-width: 680px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex-container .first-box {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.second-section {
  padding: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.second-section .image-container {
  max-width: 600px;
  width: 100%;
  height: 650px;
  max-height: 650px;
  position: relative;
  border-radius: 1.25rem;
  color: #fff;
}

.second-section .image-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.second-section .header-title {
  font-size: 2.25rem;
  position: absolute;
  top: 10%;
  left: 8%;
  right: 8%;
  z-index: 2;
}

.second-section .header-title h2 {
  font-weight: 400;
  margin-bottom: 1rem;
}

.second-section .header-title h5 {
  font-weight: 400;
  font-size: 1.1rem;
  color: #efe9e9;
}

.second-section .image-home {
  max-width: 600px;
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-section .btn-image-container {
  position: absolute;
  bottom: 8%;
  left: 8%;
  right: 8%;
  z-index: 2;
}

.second-section .btn-image-container .btn {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-align: center;
  overflow: hidden;
  z-index: 2;
  background: #fff;
  cursor: pointer;
}

.second-section .btn-image-container .btn:focus {
  outline: none;
}

.second-section .btn-image-container .btn--primary {
  color: #000;
}

.second-section .btn-image-container .btn--border {
  border-radius: 3.125rem;
}

.second-section .btn-image-container .btn--animated {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.second-section .btn-image-container .btn--animated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #19112e;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  z-index: -1;
}

.second-section .btn-image-container .btn--animated:hover {
  color: white;
}

.second-section .btn-image-container .btn--animated:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
          transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}

@media screen and (max-width: 768px) {
  .second-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .second-section .image-container {
    margin: 1rem 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .second-section {
    padding: 0 1rem 3rem;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .second-section .image-container {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    visibility: hidden;
  }
}

@media screen and (max-width: 680px) {
  .title-grid {
    padding: 0 1rem;
  }
  .title-grid div {
    width: 100%;
    grid-column: 1/-1;
  }
  .title-grid h5 {
    font-size: 1.2rem;
  }
  .title-grid .main-title {
    font-size: 2.3rem;
  }
  .title-grid .small-subtitle {
    font-size: 1.2rem;
  }
  .title-grid .main-subtitle-container {
    margin-top: 1.5rem;
    padding-right: 2rem;
  }
  .title-grid .main-subtitle-container p {
    font-size: 0.9rem;
    font-weight: 300;
  }
  .first-section {
    padding: 2rem 1.5rem;
  }
  .first-section .information-container .title-section {
    font-size: 2rem;
  }
  .first-section .information-container p {
    font-size: 1rem;
  }
  .first-section .information-container .experience-client-container .text {
    font-size: 0.6rem;
    margin-top: 1.6rem;
  }
  .first-section .information-container .experience-client-container .number-clr {
    font-size: 3rem;
  }
  .first-section .link-container {
    margin-bottom: 2rem;
  }
  .second-section {
    padding: 3rem 1rem;
  }
  .second-section .image-container {
    height: 300px;
  }
  .second-section .image-container h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  .second-section .image-container h5 {
    font-size: 1rem;
  }
  .second-section .image-container:nth-child(1) {
    margin-bottom: 1.5rem;
  }
  header .menu_nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .logo {
    width: 120px;
    position: fixed;
  }
  header .social-media {
    display: none;
  }
  footer {
    padding: 4rem 0rem;
  }
  footer .privacy-container {
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .privacy-container .email-contact {
    padding-top: 5rem;
  }
  footer .last-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .copyright {
    margin-top: 0;
    padding-bottom: 2rem;
  }
}

.contact {
  background: url("/src/images/background-4.jpg") no-repeat center/cover;
}

#form {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

#form label,
#form .label-container {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 2rem 0;
}

#form input {
  background: #19112e;
  border-color: transparent;
  border-radius: 3.125rem;
  font-size: 1.1rem;
  padding: 1rem 1rem;
  outline: none;
}

#form input:focus {
  color: #fff;
  border-color: #169dff;
  -webkit-box-shadow: 0 0 6px #318fd3;
          box-shadow: 0 0 6px #318fd3;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#form .policy-container {
  margin-top: 2rem;
}

#form .policy-container .btn-check {
  position: relative;
}

#form .policy-container .btn-check label {
  background-color: #19112e;
  border: 1px solid #19112e;
  border-radius: 50%;
  cursor: pointer;
  height: 31px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31px;
}

#form .policy-container .btn-check label:after {
  border: 3px solid #f95959;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 12px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#form .policy-container .btn-check input[type="checkbox"] {
  visibility: hidden;
}

#form .policy-container .btn-check input[type="checkbox"]:checked + label {
  -webkit-box-shadow: 0 0 5px #ff1616;
          box-shadow: 0 0 5px #ff1616;
  border-color: #f95959;
}

#form .policy-container .btn-check input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

#form .policy-text {
  margin-left: 3rem;
}

#form .policy-text .primary {
  color: #f95959;
}

#form .policy-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #efe9e9;
  font-weight: 300;
}

#form .policy-text .small-text {
  font-size: 0.9rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4rem;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25rem;
  width: 100%;
}

.fa-star {
  color: #f95959;
  font-size: 0.45rem;
  position: absolute;
  margin-left: 0.3rem;
  margin-top: 0.2rem;
}

@media screen and (max-width: 680px) {
  #form label {
    font-size: 1rem;
  }
  #form input {
    font-size: 0.9rem;
  }
  #form .policy-container p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  #form .policy-container .small-text {
    font-size: 0.85rem;
  }
  #form .center-btn {
    padding-left: 2rem;
  }
}

@media screen and (min-width: 680px) and (max-width: 768px) {
  .flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .flex .column-direction:nth-child(2) {
    margin-left: 1rem;
  }
}

footer {
  background: #19112e;
  padding: 3rem 4rem;
  color: #3a7470;
}

footer .privacy-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .privacy-container .privacy-terms {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}

footer .privacy-container .privacy-terms a {
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

footer .privacy-container .privacy-terms a:hover {
  text-decoration: underline;
  color: #f95959;
}

footer .last-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyright {
  margin-top: 2rem;
  font-size: 0.8rem;
}

footer .email-contact {
  color: #fff;
  border-bottom: 3px solid #f95959;
  padding-bottom: 0.4rem;
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
  font-size: 16px;
  background: #090514;
}

a {
  text-decoration: none;
}

.logo {
  width: 150px;
}

.show_nav__link {
  color: #fff;
  opacity: 1;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #ff1616;
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.show-top-link {
  visibility: visible;
  z-index: 100;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */